#calculator{
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
    display:flex;
    flex-wrap:wrap;
    gap:0;
}


#container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    margin:0;
}    

body{
    margin : 0;
}



